
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Availability Grid</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="search-container">
        <img src="{{ url_for('static', filename='airbnbIcon.webp') }}" alt="" width="40px" height="40px">
        <input type="text" class="search-bar" placeholder="Search..." onclick="handleSearchClick()">
        {% if not isLogged %}
          <a href="/login" class="login-button">Login</a>
        {% else %}
          <a href="/logout" class="login-button">Logout</a>
          <a href="/bookings" class="login-button">Bookings</a>
        {% endif %}
    </div>

    <div class="grid">
      {% for i in range(content|length) %}
      <a href="{{ url_for('page', id=content[i][0])}}" class="box available"><img src="{{ content[i][3]}}" alt="">{{content[i][1]}}</a>
      {% endfor %}
    </div>

    <footer class="footer">
      <p>&copy; 2025 Fake airbnb. All rights reserved.</p>
      <ul class="footer-links">
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
      </ul>
    </footer>

    <script src="script.js"></script>
</body>
</html>

